@media (min-width: 1280px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 1560px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .knhb-main-facts-wp.d-flex.align-items-start,
  .knhb-top-header-wp .container .knhb-heder-nav,
  knhb-side-profile-links,
  aside.knhb-side-nav-wp {
    display: none !important;
  }
  .knhb-logo-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .knhb-index-header .knhb-srch-box {
    border-radius: 0.5rem;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 10rem;
  }
  .knhb-index-header .knhb-srch-box form input {
    width: 56vw;
  }
  .knhb-top-header-wp {
    border-radius: 0.5rem;
    inset: 0.75rem 0.75rem auto 0.75rem;
  }
  .knhb-top-header-wp .knhb-profile-img a {
    background-color: transparent;
  }
  .knhb-top-header-wp .knhb-profile-img a img {
    border-radius: 0.375rem;
  }
  .knhb-top-header-wp .knhb-side-nav-icon a {
    background-color: transparent;
  }
  .knhb-top-header-wp .knhb-side-nav-icon a:hover,
  .knhb-top-header-wp .knhb-side-nav-icon a.knhb-a-expand {
    background-color: transparent;
  }
  .knhb-profile-header .knhb-profile-header-tabs .nav-link {
    min-width: auto;
  }
}
/*# sourceMappingURL=responsive.css.map */
