@media (min-width: 1280px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }



}

@media (min-width: 768px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .Calendar__sectionWrapper, .responsive-calendar {
    min-height: 14rem;
}
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 768px) {

  html {
    font-size: 12px;
  }
.knhb-wrapper {
    min-height: calc(100vh - 57rem);
    padding-block-start: 7rem;
    padding-inline: 0rem;

}

  .knhb-main-facts-wp{
    display: none !important;
  }

  .knhb-index-header {
    .knhb-srch-box {
      border-radius: 0.5rem;
      padding: 0 2rem;
      height: fit-content;
      min-height: 12.5rem;
      
      form {
        width: 100%;
        input {
          width: 90vw;
        }
      }
    }
  }

  .knhb-top-header-wp {
    inset: 0 0 auto;
    height: 5rem;
    .knhb-logo-name {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      h4 {
        line-height: 5rem;
      }
    }
    .knhb-profile-img {
      a {
        background-color: transparent;

        img {
          border-radius: 0.375rem;
        }
      }
    }

    .knhb-side-nav-icon {
      a {
        background-color: transparent;

        &:hover,
        &.knhb-a-expand {
          background-color: transparent;
        }
      }
    }
  }

  .knhb-profile-header {
    .knhb-profile-header-tabs {
      .nav-link {
        min-width: auto;
      }
    }
  }

  .responsive-calendar {
    font-size: 10 !important;
  }
  aside.knhb-side-nav-wp {
    position: static;
    inset: unset ;
    background-color: $altColor ;
    z-index: 900;
    transition: all 0.4s ease-out;
    width:auto;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0.5rem;
    margin: 0 1.75rem 1.75rem;
    nav.knhb-side-nav {
      li {
        a {
          height: 3rem;
          span {
            font-size: 1.5rem;
          }
          i {
            font-size: 1.75rem;
          }
        }
      }
    }
}
}

