<section class="knhb-content">


  <div class="row">
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>

    <app-add-material [isVisible]="isVisible" (showValue) ="closeModel()"></app-add-material>
  </div>



  <div class="row mt-4">
    <div class="col-md-3">
      <app-materials-filter (selectedValue)="addBook($event)"></app-materials-filter>
    </div>

    <div class="col-md-9">

      <!-- <div>
        <h3>{{'Hello' | translate}}</h3>
        <p>{{'Just Text' | translate}}</p>
      </div> -->



      <div *ngIf="isLoadingMaterial">
        <div class="bg-white p-5 text-center mb-4">
          <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
        </div>
        <div class="bg-white p-5 text-center">
          <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
        </div>
      </div>

      <div *ngIf="materialData?.result?.totalCount === 0">
        <nz-empty></nz-empty>
      </div>



      <div *ngIf="!isLoadingMaterial">
        <div class="knhb-materials" *ngFor="let item of materialData?.result.items">
          <div class="knhb-card">
            <div class="row">
              <div class="col-md-4 col-sm-3 position-relative">
                <img src={{item.imagePath}} alt="ss" class="knhb-card-img" />

              </div>
              <div class="col-md-8 col-sm-9 d-flex flex-column">
                <h5 class="knhb-card-head">
                  <a [routerLink]="['/materials/' + item.id]" >
                    {{item.materialTitle}}
                  </a>
                </h5>


                <div class="d-flex gap-2 gap-sm-4">
                  <div class="text-gray d-flex align-items-center gap-1">
                    <i class="knb kn-calendar"></i>
                    <span>{{item.publishDate | customDate}}</span>
                  </div>

                  <div class="text-gray d-flex align-items-center gap-1" *ngIf="!!item.videoUrl">
                    <i class="knb kn-eye"></i>
                    <span> {{item.numberOfViews}} </span>
                  </div>


                  <div class="text-gray d-flex align-items-center gap-1" *ngIf="!!item.filesExtension">
                    <i class="knb kn-download"></i>
                    <span> {{item.numberOfFileDownloads}} </span>
                  </div>

                </div>

                <div class="knhb-card-bottom">
                  <div class="">
                    <h6 class="mb-0">{{item.userName}}</h6>
                    <span class="text-muted">{{item.categoryName}}</span>
                  </div>

                </div>
              </div>


            </div>
          </div>

        </div>
      </div>

      <div *ngIf="materialData?.result?.totalCount > 10">
        <nz-pagination [nzPageIndex]="pageNum" [nzTotal]="totalCount"
          (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
      </div>

    </div>
  </div>
</section>
