@font-face {
  font-family: knicon;
  src: url("./fonts/icon-font/knicon-rg.eot?u0rer7");
  src: url("./fonts/icon-font/knicon-rg.eot?u0rer7#iefix")
      format("embedded-opentype"),
    url("./fonts/icon-font/knicon-rg.ttf?u0rer7")
      format("truetype"),
    url("./fonts/icon-font/knicon-rg.woff?u0rer7") format("woff"),
    url("./fonts/icon-font/knicon-rg.svg?u0rer7#knicon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: knicon;
  src: url("./fonts/icon-font/knicon-bold.eot?rrbp8a");
  src: url("./fonts/icon-font/knicon-bold.eot?rrbp8a#iefix")
      format("embedded-opentype"),
    url("./fonts/icon-font/knicon-bold.ttf?rrbp8a")
      format("truetype"),
    url("./fonts/icon-font/knicon-bold.woff?rrbp8a")
      format("woff"),
    url("./fonts/icon-font/knicon-bold.svg?rrbp8a#knicon")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

[class^="knb kn-"],
[class*=" knb kn-"],
[class^="knr kn-"],
[class*=" knr kn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: knicon !important; /* stylelint-disable-line */
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
}

[class^="knr kn-"],
[class*=" knr kn-"] {
  font-weight: normal;
}

[class^="knb kn-"],
[class*=" knb kn-"] {
  font-weight: bold;
}

.knr.kn-arrow-down::before {
  content: "\e900";
}

.knr.kn-arrow-left::before {
  content: "\e901";
}

.knr.kn-arrow-right::before {
  content: "\e902";
}

.knr.kn-arrow-up::before {
  content: "\e903";
}

.knr.kn-bell::before {
  content: "\e904";
}

.knr.kn-bell-slash::before {
  content: "\e905";
}

.knr.kn-bookmark::before {
  content: "\e906";
}

.knr.kn-calendar::before {
  content: "\e907";
}

.knr.kn-camera::before {
  content: "\e908";
}

.knr.kn-chart-pie::before {
  content: "\e909";
}

.knr.kn-check-circle::before {
  content: "\e90a";
}

.knr.kn-chevron-circle-down::before {
  content: "\e90b";
}

.knr.kn-chevron-circle-left::before {
  content: "\e90c";
}

.knr.kn-chevron-circle-right::before {
  content: "\e90d";
}

.knr.kn-chevron-circle-up::before {
  content: "\e90e";
}

.knr.kn-chevron-down::before {
  content: "\e90f";
}

.knr.kn-chevron-left::before {
  content: "\e910";
}

.knr.kn-chevron-right::before {
  content: "\e911";
}

.knr.kn-chevron-up::before {
  content: "\e912";
}

.knr.kn-clock::before {
  content: "\e913";
}

.knr.kn-comment-dots::before {
  content: "\e914";
}

.knr.kn-comment::before {
  content: "\e915";
}

.knr.kn-comments::before {
  content: "\e916";
}

.knr.kn-compass::before {
  content: "\e917";
}

.knr.kn-copy::before {
  content: "\e918";
}

.knr.kn-coupon::before {
  content: "\e919";
}

.knr.kn-credit-card::before {
  content: "\e91a";
}

.knr.kn-desktop::before {
  content: "\e91b";
}

.knr.kn-discount::before {
  content: "\e91c";
}

.knr.kn-download::before {
  content: "\e91d";
}

.knr.kn-envelope::before {
  content: "\e91e";
}

.knr.kn-exclamation-circle::before {
  content: "\e91f";
}

.knr.kn-eye::before {
  content: "\e920";
}

.knr.kn-eye-slash::before {
  content: "\e921";
}

.knr.kn-file::before {
  content: "\e922";
}

.knr.kn-film::before {
  content: "\e923";
}

.knr.kn-filter::before {
  content: "\e924";
}

.knr.kn-flag::before {
  content: "\e925";
}

.knr.kn-folder::before {
  content: "\e926";
}

.knr.kn-globe::before {
  content: "\e927";
}

.knr.kn-headphones::before {
  content: "\e928";
}

.knr.kn-heart::before {
  content: "\e929";
}

.knr.kn-home::before {
  content: "\e92a";
}

.knr.kn-image::before {
  content: "\e92b";
}

.knr.kn-inbox::before {
  content: "\e92c";
}

.knr.kn-info-circle::before {
  content: "\e92d";
}

.knr.kn-link::before {
  content: "\e92e";
}

.knr.kn-lock::before {
  content: "\e92f";
}

.knr.kn-log-in::before {
  content: "\e930";
}

.knr.kn-log-out::before {
  content: "\e931";
}

.knr.kn-map-marker::before {
  content: "\e932";
}

.knr.kn-map-pin::before {
  content: "\e933";
}

.knr.kn-map::before {
  content: "\e934";
}

.knr.kn-menu::before {
  content: "\e935";
}

.knr.kn-microphone::before {
  content: "\e936";
}

.knr.kn-microphone-slash::before {
  content: "\e937";
}

.knr.kn-minus-square::before {
  content: "\e938";
}

.knr.kn-mobile::before {
  content: "\e939";
}

.knr.kn-more-h-circle::before {
  content: "\e93a";
}

.knr.kn-more-v-circle::before {
  content: "\e93b";
}

.knr.kn-package::before {
  content: "\e93c";
}

.knr.kn-paperclip::before {
  content: "\e93d";
}

.knr.kn-pen::before {
  content: "\e93e";
}

.knr.kn-phone::before {
  content: "\e93f";
}

.knr.kn-plus-square::before {
  content: "\e940";
}

.knr.kn-question-circle::before {
  content: "\e941";
}

.knr.kn-search::before {
  content: "\e942";
}

.knr.kn-send::before {
  content: "\e943";
}

.knr.kn-settings::before {
  content: "\e944";
}

.knr.kn-shield::before {
  content: "\e945";
}

.knr.kn-shopping-basket::before {
  content: "\e946";
}

.knr.kn-sliders-h::before {
  content: "\e947";
}

.knr.kn-sort-ascending::before {
  content: "\e948";
}

.knr.kn-sort-descending::before {
  content: "\e949";
}

.knr.kn-star::before {
  content: "\e94a";
}

.knr.kn-stopwatch::before {
  content: "\e94b";
}

.knr.kn-store::before {
  content: "\e94c";
}

.knr.kn-tablet::before {
  content: "\e94d";
}

.knr.kn-tag::before {
  content: "\e94e";
}

.knr.kn-thumbtack::before {
  content: "\e94f";
}

.knr.kn-times-square::before {
  content: "\e950";
}

.knr.kn-trash::before {
  content: "\e951";
}

.knr.kn-unlock::before {
  content: "\e952";
}

.knr.kn-upload::before {
  content: "\e953";
}

.knr.kn-user::before {
  content: "\e954";
}

.knr.kn-users::before {
  content: "\e955";
}

.knr.kn-users-three::before {
  content: "\e956";
}

.knr.kn-video::before {
  content: "\e957";
}

.knr.kn-video-slash::before {
  content: "\e958";
}

.knr.kn-volume-up::before {
  content: "\e959";
}

.knb.kn-chevron-circle-down::before {
  content: "\e900";
}

.knb.kn-chevron-circle-right::before {
  content: "\e901";
}

.knb.kn-pen::before {
  content: "\e902";
}

.knb.kn-shield::before {
  content: "\e903";
}

.knb.kn-sort-ascending::before {
  content: "\e904";
}

.knb.kn-thumbtack::before {
  content: "\e905";
}

.knb.kn-unlock::before {
  content: "\e906";
}

.knb.kn-comment::before {
  content: "\e907";
}

.knb.kn-compass::before {
  content: "\e908";
}

.knb.kn-coupon::before {
  content: "\e909";
}

.knb.kn-map::before {
  content: "\e90a";
}

.knb.kn-map-marker::before {
  content: "\e90b";
}

.knb.kn-map-pin::before {
  content: "\e90c";
}

.knb.kn-users::before {
  content: "\e90d";
}

.knb.kn-users-three::before {
  content: "\e90e";
}

.knb.kn-comment-dots::before {
  content: "\e90f";
}

.knb.kn-comments::before {
  content: "\e910";
}

.knb.kn-envelope::before {
  content: "\e911";
}

.knb.kn-inbox::before {
  content: "\e912";
}

.knb.kn-send::before {
  content: "\e913";
}

.knb.kn-volume-up::before {
  content: "\e914";
}

.knb.kn-image::before {
  content: "\e915";
}

.knb.kn-film::before {
  content: "\e916";
}

.knb.kn-mobile::before {
  content: "\e917";
}

.knb.kn-camera::before {
  content: "\e918";
}

.knb.kn-desktop::before {
  content: "\e919";
}

.knb.kn-tablet::before {
  content: "\e91a";
}

.knb.kn-chart-pie::before {
  content: "\e91b";
}

.knb.kn-headphones::before {
  content: "\e91c";
}

.knb.kn-microphone::before {
  content: "\e91d";
}

.knb.kn-microphone-slash::before {
  content: "\e91e";
}

.knb.kn-phone::before {
  content: "\e91f";
}

.knb.kn-video::before {
  content: "\e920";
}

.knb.kn-video-slash::before {
  content: "\e921";
}

.knb.kn-bookmark::before {
  content: "\e922";
}

.knb.kn-chevron-circle-left::before {
  content: "\e923";
}

.knb.kn-chevron-circle-up::before {
  content: "\e924";
}

.knb.kn-eye-slash::before {
  content: "\e925";
}

.knb.kn-flag::before {
  content: "\e926";
}

.knb.kn-check-circle::before {
  content: "\e927";
}

.knb.kn-lock::before {
  content: "\e928";
}

.knb.kn-minus-square::before {
  content: "\e929";
}

.knb.kn-plus-square::before {
  content: "\e92a";
}

.knb.kn-times-square::before {
  content: "\e92b";
}

.knb.kn-bell::before {
  content: "\e92c";
}

.knb.kn-settings::before {
  content: "\e92d";
}

.knb.kn-trash::before {
  content: "\e92e";
}

.knb.kn-bell-slash::before {
  content: "\e92f";
}

.knb.kn-star::before {
  content: "\e930";
}

.knb.kn-filter::before {
  content: "\e931";
}

.knb.kn-tag::before {
  content: "\e932";
}

.knb.kn-credit-card::before {
  content: "\e933";
}

.knb.kn-shopping-basket::before {
  content: "\e934";
}

.knb.kn-discount::before {
  content: "\e935";
}

.knb.kn-more-h-circle::before {
  content: "\e936";
}

.knb.kn-more-v-circle::before {
  content: "\e937";
}

.knb.kn-package::before {
  content: "\e938";
}

.knb.kn-sort-descending::before {
  content: "\e939";
}

.knb.kn-store::before {
  content: "\e93a";
}

.knb.kn-calendar::before {
  content: "\e93b";
}

.knb.kn-clock::before {
  content: "\e93c";
}

.knb.kn-copy::before {
  content: "\e93d";
}

.knb.kn-download::before {
  content: "\e93e";
}

.knb.kn-file::before {
  content: "\e93f";
}

.knb.kn-folder::before {
  content: "\e940";
}

.knb.kn-home::before {
  content: "\e941";
}

.knb.kn-stopwatch::before {
  content: "\e942";
}

.knb.kn-upload::before {
  content: "\e943";
}

.knb.kn-user::before {
  content: "\e944";
}

.knb.kn-exclamation-circle::before {
  content: "\e945";
}

.knb.kn-eye::before {
  content: "\e946";
}

.knb.kn-heart::before {
  content: "\e947";
}

.knb.kn-info-circle::before {
  content: "\e948";
}

.knb.kn-question-circle::before {
  content: "\e949";
}
