@font-face {
  font-family: Mcit-kn-font;
  src: url("./fonts/kn-font/BalooBhaijaan2-black.woff2")
      format("woff2"),
    url("./fonts/kn-font/BalooBhaijaan2-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mcit-kn-font;
  src: url("./fonts/kn-font/BalooBhaijaan2-Bold.woff2")
      format("woff2"),
    url("./fonts/kn-font/BalooBhaijaan2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mcit-kn-font;
  src: url("./fonts/kn-font/BalooBhaijaan2-Medium.woff2")
      format("woff2"),
    url("./fonts/kn-font/BalooBhaijaan2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mcit-kn-font;
  src: url("./fonts/kn-font/BalooBhaijaan2-Regular.woff2")
      format("woff2"),
    url("./fonts/kn-font/BalooBhaijaan2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Mcit-kn-font;
  src: url("./fonts/kn-font/BalooBhaijaan2-light.woff2")
      format("woff2"),
    url("./fonts/kn-font/BalooBhaijaan2-light.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
