<section class="layout">
  <div class="container h-100">
    <div class="d-flex justify-content-md-center align-items-center vh-100">
      <div class="col-12 col-lg-6 ">
        <section class="bg-white rounded-3 py-5 px-lg-5 px-md-5 px-3 my-5">

          <div class="knhb-main-logo text-center mb-4">
            <img src='/assets/img/set.svg' alt="Vercel Logo" width="50" height="16" />
          </div>
          <h3 class="text-center">تسجيل الدخول</h3>


          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="email" formControlName="userNameOrEmailAddress" placeholder="name@example.com"
                required />
              <label htmlFor="email">اسم المستخدم او الايميل</label>
            </div>
            <div *ngIf="loginForm.get('userNameOrEmailAddress')?.invalid && (loginForm.get('userNameOrEmailAddress')?.dirty || loginForm.get('userNameOrEmailAddress')?.touched)">
              Please provide a name.
            </div>

            <div class="form-floating">
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
                required />
              <label htmlFor="password">الرقم السرى</label>
            </div>

            <div class="text-center mt-4">
              <!-- <Button class="knbtn knbtn-main py-4 w-100 text-center" block type="primary" htmlType="submit"
                loading={isLoading}>
                تسجيل الدخول
              </Button> -->

              <button
              class="knbtn knbtn-main py-4 w-100 text-center"
              nz-button nzType="primary"
              [nzLoading]="isLoading"
              [disabled]="loginForm.invalid"
              >تسجيل الدخول</button>

            </div>
          </form>



        </section>
      </div>
    </div>
  </div>
</section>
