<aside class="knhb-side-nav-wp">
  <div class="knhb-logo-name">
    <a href="/"><img src="/assets/img/logoTop.svg" alt="بوابة المعرفة" /></a>
  </div>
  <div class="knhb-side-profile">
    <div class="knhb-side-profile-dtls">

      <a>
        <img alt="" src={{userData?.userDetails?.userImagePath}} class="rounded-circle me-2 profile-img" />
        <div>
          <h3>{{userData?.user?.fullName}}</h3>
          <span>{{userData?.userDetails?.userJobTitle}}</span>
        </div>
        <i class="knr kn-chevron-down"></i>
      </a>

    </div>

  </div>
  <nav class="knhb-side-nav">

    <li>
      <a [routerLink]="['/materials']" routerLinkActive="knhb-active">
        <i class="knb kn-copy"></i>
        <span>مواد معرفية</span>
      </a>
    </li>


  </nav>

</aside>



<div class="knhb-wrapper">

  <header class="knhb-top-header-wp d-flex">
    <div class="container">
      <p class="knhb-top-welcome"><i class="knb kn-bell"></i><span>مرحبا بك في بوابة المعرفة بوزارة الاتصالات وتقنية
          المعلومات</span></p>
    </div>

    <div>
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </div>
  </header>




  <div class="container">
    <div class="row">
      <div class="col">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>
