.blog-box {
  box-shadow: 0px 20px 20px $shadowColor;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  .blog-content i {
    font-size: 1.25rem;
  }
  .blog-img {
    width:100%;
    aspect-ratio: 192/108;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
    
    img {
    object-fit: cover;
    height: 100%;
    }
  }

  h5 {
    // min-height:  60px;
    a {
      color: $darkColor;
      &:hover {
        color: $mainColor;
      }
    }
  }
  .blog-tag {
    position: absolute;
    display: flex;
    color: #fff;
    top: 0.625rem;
    left: 0.625rem;
    padding:0 0.75rem;
    border-radius:0.375rem;
    background-color: $mainColor;
    height: 2rem;
    align-items: center;

    i {
      font-size: 1rem;
    }

    span {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  .tag-cont {
    top: 0.5rem;
    right: 0.5rem;
  }

  .blog-trim {
    min-height: 90px;
  }


}
.knhb-blog-inner {
  margin-block-start: 2rem;

}
.knhb-auther-wp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem $shadowColor;
  padding: 1.5rem;
  background-color: $whiteColor;
  border-radius: 0.5rem;
  margin-block-end: 2rem;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 0 0.5rem $shadowColor;
    border: 1px solid $mainColor25;
  }
}
