/*
------------------------------------------------
 Main Page Search & Facts
------------------------------------------------
*/

.knhb-index-header {
  padding: 0;
  background-color: $whiteColor;
  border-radius: 0.375rem;
  box-shadow: 0 1.25rem 1.25rem $shadowColor;
  margin-block-end: 1.75rem;
  margin-inline: 1rem;
  margin-block: 1.75rem;

  .knhb-srch-box {
    border-radius: 0.375rem 0.375rem 0 0;
    padding: 0 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    min-height: 15rem;
    animation: slidein 50s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;   

  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -250px 0px;background-size:2750px;}
  
  }
  
    
    form {
      padding: 0;
      height: 3.25rem;
      display: flex;
      border-radius: 0.5rem;
      width: 40vw;
      position: relative;
      input {
        background-color: #ffffff30;
        border-radius:0.5rem;
        border: 1px solid transparent;
        outline: 0;
        height: 3.25rem;
        line-height: 3.25rem;
        padding: 0 1rem;
        width: 40vw;
        color: $whiteColor;
        transition: all 0.5s ease;
        &:focus {
          outline: 1px solid  $altColor;
          box-shadow: 0px 0px 20px 0px $altColor25;
          background-color: $altColor10;
          &::placeholder {
            color: $altColor;
          }
  
        }

        &::placeholder {
          color: $whiteColor;
          line-height: 3.25rem;
          font-size: 1rem;
        }
       
      }
      input:focus + .knbtn {
        background-color: $altColor;
      }
      .knbtn {
        height: 3rem;
        min-width:5rem;
        position: absolute;
        inset: 0.125rem auto  0.125rem 0.125rem ;
        border-radius: 0.375rem;
        &:hover {
          background-color: $mainColorDark;
        }

      }
    }
  }

  .knhb-main-facts-wp {
    .knhb-main-facts-c {
      width: calc(50% - 5rem);
      padding:1.5rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      .knhb-main-facts-li {
        width: calc(50% - 1.5rem);
        display: flex;
        align-items:  flex-end;
        gap: 0.75rem;
        i {
           font-size: 3.25rem;
    color: $mainColor10;
    margin-inline-end: -2rem;

        }

        h3 {
          margin-block-end: -0.5rem;
          span {
            color: $mainColor;
        font-size: 2.25rem;
        font-weight: 700;
      }
    }

      > span {
        font-weight: 400;
        font-size: 0.875rem;
      }
    }
    }

    .knhb-main-logo {
      width: 8rem;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-block-start: -7rem;
      background-color: $whiteColor;
      box-shadow: 0 2rem 3rem $shadowColor;
      padding: 1rem;

      img {
        max-width: 5rem;
        max-height: 5rem;
      }

      svg {
        max-width: 5rem;
        max-height: 5rem;

        path {
          fill: $mainColor;
        }
      }
    }
  }
}

.search-box {
  img {
    width: 170px;
    height: 100px;
  }
  .bg-box:hover {
    background: $mainColor !important;
    color: #fff;
    p {
      color: #f7f7f7 !important;
    }
    a {
      color: #fff;
    }
  }
}
