.knhb-get-materials-tabs {
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    color: $grayColor;
    border: none;
    position: relative;
    background-color: transparent;
    padding: 0 5px 10px;
    margin: 0 10px;

    span {
      font-size: 0.9rem;
      font-weight: bold;
      display: none;
      color: $blackColor;
    }

    &:hover {
      color: $mainColor;
    }

    & + button::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 30px;
      background: $lightGrayColor;
      border-radius: 1px;
    }

    &.active {
      border-bottom: 2px solid $mainColor;
      margin-block-end: 0;

      span {
        display: block;
        margin-inline-start: 5px;
      }

      & + button::after {
        display: none;
      }
    }
  }
}

.knhb-profile-header {
  background-color: $whiteColor;
  border-radius: 0.375rem;
  overflow: hidden;
  margin:1.5rem 1rem 2rem;
  .knhb-profile-header-img {
    // background: url("../public/img/srch-box-bg.png") no-repeat center;
    padding: 0 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    min-height: 12rem;
  }

  .knhb-profile-header-user {
    margin-block-start: -3.5rem;
    padding: 0 2rem 1.5rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .knhb-profile-header-dtls {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    img {
      width: 7rem;
      aspect-ratio: 1;
      object-fit: cover;
      box-shadow: 0px 1rem 1.25rem $shadowColor;

    }
    p {
      margin-block: 1rem 1.75rem;
      color: $whiteColor;
    }
    h4 {
margin-bottom: 0.25rem;
color: $mainColor;
font-size: 1.75rem;
    }
    }

  .knhb-profile-header-stastics {
    li {
      position: relative;
      width: 7.5rem;
      text-align: center;
      & + li::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 2rem;
        background: $lightGrayColor;
      }
      h4 {
        margin-bottom: 0.25rem;
        color: $mainColor;
        font-size: 1.75rem;
              }
      span {

      }
    }
  }
}
  .knhb-profile-header-tabs {
    .nav-link {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      color: $grayColor;
      border: none;
      position: relative;
      min-width: 115px;

      span {
        margin-block-start: 0.3rem;
        font-size: 0.9rem;
        display: none;
      }

      &:hover {
        color: $mainColor;
      }

      & + button::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 30px;
        background: $lightGrayColor;
        border-radius: 1px;
      }

      &.active {
        border: none;
        background-color: $mainColor;
        color: $whiteColor;
        margin-block-end: 0;

        span {
          display: block;
        }

        & + button::after {
          display: none;
        }
      }
    }
  }
}

.edu-steps {
  .step-img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      background-color: currentcolor;
      color: var(--bs-border-color) !important;
      content: "";
      display: block;
      width: 1px;
      position: absolute;
      bottom: 0;
      transform: translate(32%, 100%);
      height: 49px;
      left: 50%;
    }
  }

  li:last-child {
    .step-img {
      &::before {
        display: none;
      }
    }
  }
}
