.knhb-session-box {
  width: 100%;
  aspect-ratio: 192 / 108;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-block-end: 1.5rem;
  display: flex;
  
  &::before {
    transition: all .5s ease;
    inset:50% 0 0 0;
   position: absolute;
   z-index: 1;
   content: "";
   background: linear-gradient(0deg, $mainColor 0%,transparent 100%);
  }
   &:hover {
    &::before {
      inset: 0;
    }   
  }
  .knhb-session-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: inherit;
    width: inherit;
    .user-session {
      img{
      width: 1.875rem;
      height: 1.875rem;
      object-fit: cover;
      background-color: $whiteColor;
      border-radius: 100%;
      margin: 1rem;
    }
  }
}
  .knhb-session-dtls {
    padding: 1rem;
    position: relative;
    z-index: 3;
      margin-block-start: auto;
      justify-self: flex-end;
      h5 {
        margin-bottom: 1rem;
        color: $whiteColor;
      }
      .knhb-session-facts {
       display: flex;
       align-items: center;
       gap:1rem; 
      }
    }

}

.session-anchor {
  .ant-anchor-link-title {
    padding: 10px 0 !important;
  }
}

#place {
  margin-block-start: -135px;
}
.knhb-session-instrctr {
  position: relative;
  z-index: 3;
  border-radius: 0.375rem;
  background-color: $whiteColor;
  box-shadow: 0 1.25rem 1.25rem $shadowColor;
  text-align: center;
  margin-inline-end: 1rem;
  padding: 1rem;
  img {
    box-shadow: 0 1.25rem 1.25rem $shadowColor;
    object-fit: cover;
    border: 1px solid  $shadowColor;
    margin-top: 1rem;
    width:5rem;
    height: 5rem;
    margin-block-end: 1rem;
    border-radius: 100%;
  }
}

.faqQuestions {
  border: none;
  .ant-collapse-item {
    border: none;
    box-shadow: 0px 20px 20px $shadowColor;
    border-radius: 0.375rem !important;
    margin-block-end: 1.5rem;
    background-color: #fff;
    padding: 0.25rem;
  }
  .ant-collapse-header {
    justify-content: space-around;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }
  .ant-collapse-content {
    background-color: $shadowColor;
    border-top: 0 !important;
    border-radius: 0.25rem !important;
  }
}


.model-pdf {
  .ant-modal-content {
    background: transparent;
    padding: 0;
    box-shadow: none;
    .ant-modal-body {
      height: calc(100vh - 110px);
      text-align: center;
    }
  }
}