<div style="border-bottom: 1px solid rgb(233, 233, 233);">

  <label
    nz-checkbox
    [(ngModel)]="allChecked"
    (ngModelChange)="updateAllChecked()"
    [nzIndeterminate]="indeterminate"
  >
    الكل
  </label>
</div>

<nz-checkbox-group [(ngModel)]="categories" 
(ngModelChange)="updateSingleChecked()">
</nz-checkbox-group>
