
  <div class="knhb-card">

    <nz-select nzPlaceHolder="Select a person" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
      <nz-option nzValue="desc" nzLabel="الاحدث"></nz-option>
      <nz-option nzValue="asc" nzLabel="الاقدم"></nz-option>
    </nz-select>

    <h5 class="knhb-card-side-head mt-3">التصفية</h5>

   <app-multi-select 
   [categories] = "checkOptionsOne"
   (checkedValues) = "saveValue($event)"
   >
   
  </app-multi-select>


  </div>

