/* ---------------------------------
     Back To Top Button CSS
----------------------------------- */

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.knhb-back-top {
  position: fixed;
  left: 5rem;
  bottom: 4rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px $mainColor10;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}

.knhb-back-top.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.knhb-back-top::after {
  position: absolute;
  content: "\e903";
  font-family: knicon; /* stylelint-disable-line */
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  color: $mainColor;
  left: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

.knhb-back-top svg path {
  fill: none;
}

.knhb-back-top svg.knhb-back-top-circle path {
  stroke: $mainColor50;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}
