.highlight {
  background: red !important;
  color: #fff !important;
  background: #f8f8fa !important;
  color: $mainColor !important;
  border: 1px solid $mainColor !important;
  border-radius: 6px;
}
.react-calendar {
  border: none;
}

.react-calendar__navigation {
  button:disabled,
  button[disabled] {
    display: none;
  }
}
.react-calendar__month-view__days {
  button {
    font-size: 14px;
  }
}

.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: $mainColor;
  width: 40px;
  height: 40px;
  background: none;
  font-size: 16px;
  margin-block-start: 8px;
  // &.react-calendar__navigation__next-button {
  //     border-radius: 50%;
  //     background: #333;
  // }
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: $mainColor;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: $mainColor50;
  border-radius: 6px;
  font-weight: bold;
  color: $mainColor;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: $mainColor50;
  border-radius: 6px;
  font-weight: bold;
  color: $mainColor;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: $mainColor;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $mainColor;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: $mainColor;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-radius: 6px;
  background: $mainColor;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  background: $mainColor;
  color: white;
}

//  newClaender

.responsive-calendar {
  font-size: 10px !important;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  min-height: 35em;
  .Calendar__header {
    padding: 1em;
  }
  .Calendar__weekDays {
    padding: 0 1em;
    font-size: 1em;
  }
  .Calendar__section {
    padding: 0 2em;
  }
}

.purpleDay:not(.-selectedStart):not(.-selectedBetween):not(.-selectedEnd):not(.-selected) {
  position: relative;
  &:after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $mainColor;
    bottom: 1px;
    position: absolute;
    left:0;
    right: 0;
    margin: 0 auto;
  }
}

.session-calender-list {
  li::marker {
    color: $mainColor;
    font-size: 1.5em;
  }
}

.Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
  color: rgba(0, 0, 0, 0.8);
}

.Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
  background: #eaeaea;
  border-radius: 50%;
}
.Calendar__day {
  padding: 0 !important;
  height: auto !important;
  aspect-ratio: 1 / 1 !important;
}

.knhb-clndr-wp {
  background-color: rgba($mainColor , 0.05);
  padding: 1rem;
  border-radius: 0.25rem;
  margin:0 0.25rem 0.25rem;
  h6.knhb_calender-date {
  padding-block-end: 0.75rem;
  margin-block-end: 0.75rem;
  border-block-end: 1px solid $mainColor10;
  }
}