/*
  |--------------------------------------------------------------------------
  | Template Name: MCIT.gov.sa => Knowledge Portal
  | Author: asbarakat - ahadidy
  | Version: 1.0.0
  |--------------------------------------------------------------------------
  |
  |--------------------------------------------------------------------------
  | TABLE OF CONTENTS:
  |--------------------------------------------------------------------------
  |
  | 1. Colors
  | 2. 
  | 3. 
  | 4. 
  | 5. 
  | 6. 
  | 7. 
  | 8. 
  | 9. 
  | 10. 
  | 11. 
    */

// 1.1 Color Theme
// 1.1.1 Light Theme Colors
$mainColor: rgb(0 106 249);
$mainColorDark: rgb(0 64 150);
$mainColorLight: rgb(72 150 255);
$mainColor10: rgb(0 106 249 / 10%);
$mainColor25: rgb(0 106 249 / 25%);
$mainColor50: rgb(0 106 249 / 50%);
$altColor: rgb(20 200 200);
$altColorDark: rgb(20 200 200);
$altColorLight: rgb(20 200 200);
$accentColor:rgb(83 72 206); 
$accentColorDark:rgb(53 43 165); 
$accentColorLight:rgb(136 125 253); 
$altColor10: rgb(20 200 200 / 10%);
$altColor25: rgb(20 200 200 / 25%);
$altColor50: rgb(20 200 200 / 50%);
$whiteColor: rgb(255 255 255);
$whiteColor10: rgb(255 255 255 / 10%);
$whiteColor25: rgb(255 255 255 / 25%);
$whiteColor50: rgb(255 255 255 / 50%);
$darkColor: rgb(7 59 76);
$darkColor10: rgb(7 59 76 / 10%);
$darkColor25: rgb(7 59 76 / 25%);
$darkColor50: rgb(7 59 76 / 50%);
$lightColor: rgb(220 229 235);
$grayColor: #929ea5;
$lightGrayColor: rgb(191 194 204);
$warningColor: rgb(255 166 80);
$warningColor10: rgb(255 166 80 / 10%);
$blackColor: rgb(9 11 36);
$yellowColor: rgb(255 219 74);
$infoColor: rgb(54 140 231);
$dangerColor: rgb(252 53 53);
$dangerColor10: rgb(252 53 53 / 10%);
$successColor: rgb(22 214 5);
$successColor10: rgb(22 214 5 / 10%);
$bodyBgColor: rgb(246 248 255);
$shadowColor: rgb(0 0 0 / 8%);
