/* ------------------------------------------------
              Header Css
------------------------------------------------ */
.knhb-top-header-wp {
  background-color: $whiteColor;
  height: 4rem;
  
  z-index: 500;
  box-shadow: 0px 2px 4px $shadowColor;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  form {
    display: flex;
    align-items: center;
    margin-inline-start: 1rem;
    position: relative;

    input {
      border: 1px solid $darkColor10;
      height: 2.5rem;
      border-radius: 0.375rem;
      width: 17.5rem;
      &:focus {
        border: 1px solid $mainColor50;

      }
    }
    button.knbtn.knbtn-main.knbtn-lg {
      position: absolute;
      left: 0.5rem;
      margin: 0;
      padding: 0;
      background-color: transparent;
      color: $mainColor;
    }
  }
  .knhb-top-welcome {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    font-size: 0.875rem;
    i {
      margin-inline-end: 0.75rem;
      background-color: $mainColor10;
      border-radius: 50%;
      width: 2.5rem;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      color:$mainColor;
    }
  }

  .knhb-top-add-new {
    margin-inline-end: 1rem;
    > a {
      background-color: $mainColor;
      height: 2.75rem;
      display: flex;
      justify-content: space-between;
      color: $whiteColor;
      min-width: 15rem;
      align-items: center;
      padding: 0.25rem;
      padding-inline-start: 1.25rem;
      border-radius: 0.375rem;
      margin-block:0.625rem ;
      > i {
        height:  2.25rem;
        width:  2.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25rem;
        font-size: 1rem;
        transition: all 0.5s ease;
      }
    }
    .knhb-top-add-drop {
      position: absolute;
      list-style: none;
      background-color: $whiteColor;
      min-width: 15rem;
      top:  2.75rem;
      padding: 0;
      li {
        >div {
          width: 100% !important;
        }
        background-color: $mainColor;
        color: $whiteColor;
        overflow: hidden;
        height: 0rem;
        opacity: 0;
        font-size: 0;
        display: flex;
          justify-content: flex-start;
          align-items: center;
          button.knbtn.knbtn-main {
            padding:0 1.5rem;
            height: 3.25rem !important;
            width: 100% !important;
            display: flex;
            justify-content: flex-start;
            border-radius: 0;
            &::before {
              content: "\e902";
              font-family: knicon !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    margin-inline-end: 0.75rem; 
    font-weight: bold;


            }
          }
        > a {
          padding-inline: 1.5rem;
          display: flex;
          justify-content: flex-start;
          color: $whiteColor;
          align-items: center;

          i {
            margin-inline-end: 0.75rem;
          }
        }
      }
    }

    &:hover {
      > a {
          i {
          transform: rotate(180deg);
        }
      }
      .knhb-top-add-drop {
        top: 4rem;
        li {
          height: 3.25rem;
          opacity: 1;
          > a {
            height: 3.25rem;
            width: 100%;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: all 0.4s ease;

            &:hover {
              background-color: $altColor;
            }
          }
          button.knbtn.knbtn-main {
            &:hover {
              background-color: $altColor;
            }
          }
        }
      }
    }
  }
  .knhb-profile-img {
    a {
      background-color: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      img {
        width: 2.4rem;
        border-radius: 50%;
      }
    }
  }

  .knhb-heder-nav {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      &:not(.knhb-heder-btn) {
        a {
          display: flex;
          align-items: center;
          padding-inline: 1rem;
          height: 2.5rem;
          color: $whiteColor;
          border-radius: 0.5rem;

          i {
            color: $altColor;
            margin-inline-end: 10px;
          }

          &:hover {
            color: $altColor;
            background-color: $darkColor;
          }

          &:hover i {
            color: $whiteColor;
          }
        }
      }

      &.knhb-heder-btn {
        margin-inline-start: 30px;
      }
    }
  }
}
