/* stylelint-disable */
aside.knhb-side-nav-wp {
  position: fixed;
  inset: 0 0 0 auto;
  border-top: 1px solid  $shadowColor;
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 400;
  transition: all 0.4s ease-out;
  width: 17.5rem;
  
  .knhb-logo-name {
    width: 17.5rem;
    height: 4rem;
    padding: 1rem 1.5rem;
    background-color: $mainColor10;
    img {
      height: auto;
      width: 10rem;
    }
    h4 {
      color: $mainColor;
      font-size: 1.125rem;
      line-height: 4rem;
      margin-inline: 2rem;
    }
  }

  .knhb-side-profile {
    
    .knhb-side-profile-dtls {
      a {
      padding:1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-block-end: 1px solid  $shadowColor;
      position: relative;
      transition: all 0.3s ease;

       > i {
        margin-inline-start: auto;
        font-size: 1rem;
        background-color: $mainColor10;
        border-radius: 0.25rem;
        padding: 0.375rem;

      }
      > img {
        width: 2.75rem;
        height: 2.75rem;
        object-fit:cover;
        border-radius: 100%;
        object-position: top;
        margin-inline-end: 1rem;
        padding: 0.175rem;
        border: 1px solid $mainColor;
     }
     > div { 
      display: flex;
      flex-direction: column;
      justify-content: center;
     > h3 {
      font-size: 1.25rem;
      font-weight: 500;
      margin-block-end:0.325rem;
      color: $mainColor;
      line-height: 1;
    }
      span {
      font-size: 0.875rem;
      line-height: 1;
      font-weight: 200;
      color: $darkColor;
     }
    }
    &:hover {
      
      background-color: $mainColor;
      > i {
        background-color: $whiteColor10;
        color: $whiteColor;
      }

      img {
        border-color: $whiteColor;
      }
      > div { 
     > h3 {
      color: $whiteColor;
    }
      span {
        color: $whiteColor;
      }
    }

    }
  }
    .knhb-side-popup-wp {
      cursor: auto;
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: $mainColor;
      position: absolute;
      inset: 3rem -18rem auto auto;
      z-index:-1;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s ease;

      .knhb-side-popup-dtls {
      display: flex;
      align-items: center;
      justify-content:center;
      flex-direction: column;
      padding:1.5rem 0rem;
      img {
        width: 5rem;
        height: 5rem;
        object-fit:cover;
        border-radius: 100%;
        object-position: top;
        margin-inline-end: 0rem;
        margin-block:2rem 1.5rem;
        padding: 0.25rem;
        border: 2px solid $altColor50;
     }
    > div { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     h3 {
      font-size: 1.25rem;
      font-weight: 500;
      margin-block-end:0.75rem;
      color: $whiteColor;
      line-height: 1;
    }
     span {
      color: $whiteColor;
     }
    }
    }
    nav.knhb-side-popup-nav {
      padding-block: 2rem 3rem;
      padding-inline: 2rem;
    width: 100%;
    position: relative;
    z-index: inherit;
    >i {
      color: $whiteColor10;
      font-size: 7rem;
      position: absolute;
      inset: auto auto -3rem  -3rem;
      transform: rotate(45deg);
      border-radius: 100%;
      border: 0.75rem solid  $whiteColor10;
      padding: 1rem;

    }
      li {
        border-block-end: 1px solid $whiteColor10;
        &:last-child {
          border-block-end-width: 0px;
        }
        a {
          justify-content:  center;
          margin-block: 0.75rem;
          color: $whiteColor;
          &:hover {
            color: $whiteColor50;
          }
          
        }
      }
    }
  }
  &:hover .knhb-side-popup-wp {
    transition: all 0.2s ease;
    inset: 0 0 auto 0;
    z-index: 900;
    opacity: 1;
  } 
 }
   }
  nav.knhb-side-nav, nav.knhb-side-popup-nav {
    list-style: none;
    padding:1rem;
    li {
  a {
    display: flex;
    align-items: center;
    padding: 0;
    padding-inline: 0.75rem;
    width: 100%;
    justify-content: flex-start;
    height: 1.5rem;
    border-radius: 0.375rem;
        margin:0 0 1rem 0;
        color: $darkColor;
        transition: all 0.2s ease;
        span {
          font-size: 1rem;
          opacity: 1;
          width: auto;
      }
        i {
          margin-inline-end: 0.75rem;
          transition: all 0.2s ease;
        }
        &.knhb-active {
          i, span {
            color: $mainColor;
          }
        }
        &:not(.knhb-active):hover {
          color: $altColor;
          i, span {
            color: $altColor;
          }
        }
        &:not(.knhb-active):hover {
          color: $mainColor;
        }
  }
    }
  }
  
}

  nav.knhb-side-profile-links  {
    transition: all 0.4s ease-out;
    list-style: none;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-block-end: 1px solid  $shadowColor;
    margin-block-end: 2rem;
    > li {
      position: relative;
      > a {
        display: flex;
        align-items: center;
        padding: 0;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.625rem;
        color: $mainColor;
        justify-content: center;
        position: relative;
        &:hover {
          background-color: $altColor10;
          color: $darkColor;
        }
        span.knhb-top-badge {
          background-color: $dangerColor;
          padding: 0.175rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0.375rem;
          right: 0.375rem;
          border: 2px solid $whiteColor;

          &.knhb-number-badge {
            font-size: 0.75rem;
            color: $whiteColor;
            padding: 0.188rem 0.188rem 0.125rem;
            font-weight: 500;
            line-height: 1;
            border-radius: 0.5rem;
            top: -0.25rem;
            right: -0.25rem;
            min-width: 1.313rem;
          }
        }
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }


       
      }

      .knhb-noti-wp {
        border-radius: 0.5rem;
        box-shadow: 0px 1.25rem 1.25rem $darkColor25;
        position: absolute;
        left: -70rem #{"/* rtl:ignore */"};
        background: $whiteColor;
        min-width: 22rem;
        list-style: none;
        padding: 0;
        overflow: hidden;
        z-index: 90;
        top: -0.5rem;
        transition: all 0.4s linear;
        &.ppp-active {
          left: 3rem;
        }

        li + li {
          border-top: 1px solid $lightColor;
        }
        li {
          padding: 1rem;
          &.knhb-unread {
            background-color: $mainColor10;
          }
          .knhb-noti {
            color: $darkColor;
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: flex-start;
            .knhb-noti-icon {
              min-width: 2.5rem;
              min-height: 2.5rem;
              border-radius: 0.5rem;
              margin-inline-end: 0.75rem;
              background: $shadowColor;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $darkColor;
            }
            p {
              color: $darkColor;
              margin-block-end: 0.125rem;
              font-size: 0.75rem;
            }
          }
          .knhb-noti-btns {
            padding-inline-start: 3rem;
          }
        }
      }
      .knhb-noti-wp.active {
        left: 3.5rem #{"/* rtl:ignore */"};
      }
      .knhb-clndr-ppp-wp {
        border-radius: 0.5rem;
        box-shadow: 0px 1.25rem 1.25rem $darkColor25;
        position: absolute;
        left: -70rem #{"/* rtl:ignore */"};
        background: $whiteColor;
        min-width: 22rem;
        list-style: none;
        padding: 0;
        overflow: hidden;
        z-index: 90;
        top: -0.5rem;
        transition: all 0.4s linear;

        &.ppp-active {
          left: 3rem;
        }
        .knhb-clndr-ppp-i {
          border-top: 1px solid $lightColor;
          padding: 1rem;
          .knhb-clndr-ppp-dt {
            width: 4rem;
            height: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $lightColor;
            border-radius: 0.5rem;
            margin-inline-end: 0.5rem;
          }
          .knhb-clndr-ppp-dtls {
            flex: 0 0 calc(100% - 4.5rem);
            > p {
              margin-block: 0.5rem;
              font-weight: 500;
              color: $blackColor;
            }
            div + div {
              margin-inline-start: auto;
            }
            i.knb {
              margin-inline-end: 0.25rem;
            }
          }
          .knhb-clndr-ppp-btn {
            flex: 0 0 100%;
          }
        }
      }
      .knhb-clndr-ppp-wp.active {
        left: 3.5rem #{"/* rtl:ignore */"};
      }
    }
  }

/* stylelint-enable */
