.knhb-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-inline-start: 17.5rem;
  padding-block-start: 4rem;
  position: relative;
  justify-content: space-between;

  >.container {
    min-height: calc(100vh - 112px);
  }

  .knhb-get-start-wp {
    ul.knhb-get-start-tabs.nav {
      border-bottom: 1px solid $shadowColor;
      padding: 0;

      li.nav-item {
        button.nav-link {
          border-bottom: 2px solid transparent;
          font-size: 0.875rem;
          outline: none;
          border: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          color: $lightColor;
          height: 3.5rem;
          padding: 0;

          i {
            padding-inline-start: 1.5rem;
            margin-inline-end: 0.5rem;
          }

          span {
            padding-inline-end: 1.5rem;
            border-inline-end: 1px solid $lightColor;
            line-height: 1.5rem;
          }

          &.active {
            font-weight: 700;
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
          }

          &:hover {
            color: $mainColor;
          }
        }
      }
    }

    .knhb-start-file {
      textarea {
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        margin: 1rem;
        width: calc(100% - 2rem);

        &::placeholder {
          color: $grayColor;
        }

        &:focus {
          border-color: $mainColor25;
        }
      }

      .knhb-start-footer {
        border-top: 1px solid $shadowColor;
        padding: 1rem;

        > input[type="file"] {
          width: 15rem;
        }

        div {
          a + a {
            margin-inline-start: 1rem;
          }
        }
      }
    }
  }
}

.knhb-content {
  padding-inline: 1rem;
}