
@use "igniteui-angular/theming" as *;
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

// @include core();
// @include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
// @include theme($default-palette);
// CSS Reset, comment out if not required or using a different module
@import 'minireset.css/minireset';
/* You can add global assets to this file, and also import other style files */
/* postcss-rtl:start */

@import "~bootstrap/dist/css/bootstrap.rtl.css";
@import "./assets/fonts/icon-font.css";
@import "./assets/fonts/kn-font.css";
@import "./assets/scss/layout/colors";
@import "./assets/scss/layout/typography";
@import "./assets/scss/layout/theme";
@import "./assets/scss/layout/preloader";
@import "./assets/scss/layout/back2top";
@import "./assets/scss/layout/menu";
@import "./assets/scss/layout/header";
@import "./assets/scss/layout/footer";
@import "./assets/scss/layout/wrap";
@import "./assets/scss/layout/dashboard";
@import "./assets/scss/pages/homepage";
@import "./assets/scss/pages/profile";
@import "./assets/scss/pages/knowledgeMaterials";
@import "./assets/scss/pages/blog";
@import "./assets/scss/pages/sessions";
@import "./assets/scss/pages/models";
@import "./assets/scss/layout/calender";
@import "./assets/scss/responsive";


.spinner {
  width: 60px;
  height: 60px;
  margin: 100px auto;
  background-color: rgb(78, 87, 253);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}


@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background:rgb(78, 87, 253);
  background-color: rgb(191, 194, 204);
}


.search-input {
  .ant-input-wrapper {
    height: 100%;
    .ant-input-affix-wrapper {
      height: 100%;
    }
  }

  button.ant-input-search-button {
    height: 100%;
    width: 50px;
  }
}

.mcbr-blog-des-wp p, .mcbr-blog-des-wp span {
  font-family: "29LT Bukra", Helvetica, Arial !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
  text-align: justify !important;
  margin: 0 0 10px 0 !important;
  color: #232323 !important;
  color: #929ea5 !important;
}

.mcbr-blog-des-wp h3 {
  font-size: 20px;
}
.mcbr-blog-des-wp img {
  margin: 20px 0;
}

.mcbr-blog-des-wp h5 {
  font-size: 16px;
}
.Mostardah {
  flex-wrap: wrap;
}

.Mostardah > div {
  border-radius: 10px;
  flex: 0 0 calc(32.33333% - 20px);
  margin-block-end: 30px;
  margin-left: 30px !important;
  padding: 20px !important;
}

.mcbr-blog-des-wp h2 {
  font-size: 22px;
}
.marobaro>div {
  width: 50%;
  border-radius: 6px;
  margin-right: 30px !important;
  padding: 20px !important;
  margin-block-end: 20px;

}


// .ant-checkbox-group-item {
//   display: block;
//   margin-right: 0;
// }

.ant-checkbox-group {
  display: flex;
    flex-direction: column;
    label {
      margin-block-end: 10px;
    }
}

:where(.css-dev-only-do-not-override-fr06sq).ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-inline-start: 0;
}

.ql-container {
  min-height: 221px
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  left: -8px
}

.profile-img {
  width: 38px;
  height: 40px
}

.profile-material-icon {
  width: 60px;
  height: 60px;
  background: #eee;
  padding: 13px;
  border-radius: 50%;
  display: flex;
}

.profile-material-title {
  min-height: 60px;
}

.ant-checkbox-wrapper {
  margin-inline-start: 0 !important;
}

.aside-question-btn {
  button {
    border-radius: 0;
    width: 17.5rem;
    height: 48px;
    justify-content: flex-start;
  }
}
header.knhb-top-header-wp {
  width: calc(100% - 17.5rem);
}

.ng-star-inserted {
  direction: rtl;
}
  
/* postcss-rtl:end */
